:root {
  --purple: #7a5af5;
  --grey: #282828;
}

.app {
  background-color: #282828;
  text-align: center;
  height: 100%;
}
.app h1 {
  color: var(--purple);
}

.topics {
  background-color: var(--grey);
  max-width: 80%;
  margin: 0 auto;
}
/* 
.topics h2 {
  color: var(--purple);
} */

.header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button {
  cursor:pointer;
}

.questions {
  max-width: 60%;
  margin: 0 auto;
}

.option {
  display: flex;
  align-content: flex-start;
  text-align: left;
  width: 80%;
  accent-color: white;
}

.option-text{
  color: white;
}

.quiz {
  margin: 0 auto;
}

.quiz h2 {
  text-align: left;
}

.question-text{
  color: white;
}

.purple {
  color: var(--purple);
}

.white {
  color: white;
}


