:root {
  --purple: #7a5af5;
  --grey: #282828;
}

.app {
  background-color: #282828;
  text-align: center;
  height: 100%;
}
.app h1 {
  color: var(--purple);
}

.topics {
  background-color: var(--grey);
  max-width: 80%;
  margin: 0 auto;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button {
  cursor:pointer;
  background-color: var(--purple);
  border: 2px solid var(--grey);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.questions {
  max-width: 60%;
  margin: 0 auto;
}

.option {
  display: flex;
  align-content: flex-start;
  text-align: left;
  width: 80%;
  accent-color: white;
}

.option-text{
  color: white;
}

.quiz {
  margin: 0 auto;
  margin-top: 1rem;
}

.quiz h2 {
  text-align: left;
}

.question-text{
  color: white;
}

.purple {
  color: var(--purple);
}

.white {
  color: white;
}

.home{
  /* border: red 2px solid; */
  height: 100vh;
  margin-top: 1rem;
}


